<p><strong>Description</strong> : {{ enchere.timbre_description }}</p>
<p><strong>Type</strong> : {{ enchere.type_timbre }}</p>
<p><strong>Condition</strong> : {{ enchere.condition_timbre }}</p>
<p><strong>Format</strong> : {{ enchere.timbre_format }}</p>
<p><strong>Année d'émission</strong> : {{ enchere.timbre_annee_emission }}</p>
<p><strong>Pays d'origine</strong> : {{ enchere.pays_timbre }}</p>